USE [master]
GO
/****** Object:  Database [E_APARTMENT]    Script Date: 26/01/2023 22:38:44 ******/
CREATE DATABASE [E_APARTMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E_APARTMENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\E_APARTMENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'E_APARTMENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\E_APARTMENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E_APARTMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E_APARTMENT]
GO
/****** Object:  Table [dbo].[APARTMENT]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOCATION] [varchar](30) NULL,
	[CLASS_ID] [int] NULL,
	[APARTMENT_ID] [int] NULL,
	[FLOW_AREA] [int] NULL,
	[APPLICABLE_RENT] [decimal](10, 2) NULL,
	[APPLICABLE_AMOUNT] [decimal](10, 2) NULL,
	[APPLICABLE_DEPOSIT_AMOUNT] [decimal](10, 2) NULL,
	[APPLICABLE_MAXIMUM_N_F_OCCUP] [int] NULL,
	[APPLICABLE_RESERVATION_FEE] [decimal](10, 2) NULL,
	[NUMBER_AVAILABLE] [int] NULL,
 CONSTRAINT [PK_APARTMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APARTMENT_CLASS]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARTMENT_CLASS](
	[APARTMENT_CLASS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASS_NAME] [varchar](50) NULL,
	[ADD_BY] [int] NULL,
	[ADD_DATE] [date] NULL,
 CONSTRAINT [PK_APARTMENT_CLASS] PRIMARY KEY CLUSTERED 
(
	[APARTMENT_CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APARTMENT_LEASE]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARTMENT_LEASE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[APARTMENT_ID] [int] NULL,
	[FRIST_RENT_AMOUNT] [decimal](18, 2) NULL,
	[APP_AMOUNT] [decimal](18, 2) NULL,
	[DEPOSITE_AMOUNT] [decimal](18, 2) NULL,
	[APPLICABLE_FEE] [decimal](18, 2) NULL,
	[LEASE_START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[DUE_DATE] [date] NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[STATES] [int] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [date] NULL,
	[APPROVED_BY] [int] NULL,
	[APPROVED_DATE] [date] NULL,
	[PARKING_SPACE_ID] [nvarchar](50) NULL,
	[PARKING_SPACE_EXTRA_ID] [nvarchar](50) NULL,
	[PARKING_SPACE_EXTRA_MONTHLY_RENTAL] [decimal](8, 2) NULL,
	[PAYMENT_TYPE_ID] [int] NULL,
	[TOTALE_MONTHS] [int] NULL,
 CONSTRAINT [PK_APARTMENT_LEASE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APARTMENT_NAME]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARTMENT_NAME](
	[AP_NAME_ID] [int] IDENTITY(1,1) NOT NULL,
	[APARTMENT_NAME] [varchar](50) NULL,
	[ADD_BY] [int] NULL,
	[ADD_DATE] [date] NULL,
 CONSTRAINT [PK_APARTMENT_NAME] PRIMARY KEY CLUSTERED 
(
	[AP_NAME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_COMMENT]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_COMMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMMENT] [nvarchar](200) NULL,
	[DATETIME] [datetime] NULL,
	[STATES] [int] NULL,
 CONSTRAINT [PK_CUSTOMER_COMMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_DETAIL]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULL_NAME] [nvarchar](50) NULL,
	[SURNAME] [nvarchar](50) NULL,
	[NIC] [nvarchar](50) NULL,
	[PHONE_NO] [int] NULL,
	[TELEPHONE_NO] [int] NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[E_NAME] [nvarchar](50) NULL,
	[E_PHONE] [int] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE_TIME] [datetime] NULL,
 CONSTRAINT [PK_CUSTOMER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_RELATION]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_RELATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RID] [int] NULL,
	[NAME] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[CUSTOMER_ID] [int] NULL,
 CONSTRAINT [PK_CUSTOMER_RELATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_WATING_LIST]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_WATING_LIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](50) NULL,
	[NIC] [nvarchar](50) NULL,
	[PHONE_NUMBER] [int] NULL,
	[DATE_TIME] [datetime] NULL,
	[APARTMENT_ID] [int] NULL,
	[ADD_BY] [int] NULL,
 CONSTRAINT [PK_CUSTOMER_WATING_LIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_METHODS]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_METHODS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PAYMENT_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_PAYMENT_METHODS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[ARREARS_AMOUNT] [decimal](18, 2) NULL,
	[PAYMENT_TYPE] [int] NULL,
	[DATE] [date] NULL,
	[RECEIPT_BY] [int] NULL,
	[LEASE_ID] [int] NULL,
 CONSTRAINT [PK_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RELATIONSHIP]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELATIONSHIP](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[FamilyMember] [varchar](50) NULL,
 CONSTRAINT [PK_RELATIONSHIP] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLL]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLL] [varchar](10) NULL,
 CONSTRAINT [PK_ROLL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_USERS_DETAIL]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_USERS_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULL_NAME] [nvarchar](50) NULL,
	[SURNAME] [nvarchar](50) NULL,
	[NIC] [nvarchar](50) NOT NULL,
	[PHONENUMBER] [int] NULL,
	[TELEPHONE] [int] NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[ENAME] [nvarchar](50) NULL,
	[EPHONENUMBER] [int] NULL,
	[SYSTEM_USER_NAME] [nvarchar](50) NULL,
	[PASS] [nvarchar](50) NULL,
	[ROLE_ID] [int] NULL,
	[LOCK_1] [int] NULL,
	[LAST_LOGIN_DTIME] [datetime] NULL,
	[CREATE_EMP_ID] [int] NULL,
	[CREATE_DTIME] [datetime] NULL,
 CONSTRAINT [PK_SYSTEM_USERS_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST]    Script Date: 26/01/2023 22:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEST] [varchar](50) NULL,
 CONSTRAINT [PK_TEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[APARTMENT] ON 

INSERT [dbo].[APARTMENT] ([ID], [LOCATION], [CLASS_ID], [APARTMENT_ID], [FLOW_AREA], [APPLICABLE_RENT], [APPLICABLE_AMOUNT], [APPLICABLE_DEPOSIT_AMOUNT], [APPLICABLE_MAXIMUM_N_F_OCCUP], [APPLICABLE_RESERVATION_FEE], [NUMBER_AVAILABLE]) VALUES (16, N'WARIYAPOLA', 1, 1, 12, CAST(12000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)), 5, CAST(1000.00 AS Decimal(10, 2)), 30)
INSERT [dbo].[APARTMENT] ([ID], [LOCATION], [CLASS_ID], [APARTMENT_ID], [FLOW_AREA], [APPLICABLE_RENT], [APPLICABLE_AMOUNT], [APPLICABLE_DEPOSIT_AMOUNT], [APPLICABLE_MAXIMUM_N_F_OCCUP], [APPLICABLE_RESERVATION_FEE], [NUMBER_AVAILABLE]) VALUES (17, N'WARIYAPOLA', 1, 1, 10, CAST(12500.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(60000.00 AS Decimal(10, 2)), 3, CAST(500.00 AS Decimal(10, 2)), 12)
SET IDENTITY_INSERT [dbo].[APARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[APARTMENT_CLASS] ON 

INSERT [dbo].[APARTMENT_CLASS] ([APARTMENT_CLASS_ID], [CLASS_NAME], [ADD_BY], [ADD_DATE]) VALUES (1, N'CLASS A', 5, CAST(N'2023-01-13' AS Date))
INSERT [dbo].[APARTMENT_CLASS] ([APARTMENT_CLASS_ID], [CLASS_NAME], [ADD_BY], [ADD_DATE]) VALUES (2, N'CLASS B', 5, CAST(N'2023-01-13' AS Date))
INSERT [dbo].[APARTMENT_CLASS] ([APARTMENT_CLASS_ID], [CLASS_NAME], [ADD_BY], [ADD_DATE]) VALUES (3, N'CLASS C', 5, CAST(N'2023-01-13' AS Date))
SET IDENTITY_INSERT [dbo].[APARTMENT_CLASS] OFF
GO
SET IDENTITY_INSERT [dbo].[APARTMENT_LEASE] ON 

SET IDENTITY_INSERT [dbo].[APARTMENT_LEASE] OFF
GO
SET IDENTITY_INSERT [dbo].[APARTMENT_NAME] ON 

INSERT [dbo].[APARTMENT_NAME] ([AP_NAME_ID], [APARTMENT_NAME], [ADD_BY], [ADD_DATE]) VALUES (1, N'WARIYAPOLA', 5, CAST(N'2023-01-13' AS Date))
INSERT [dbo].[APARTMENT_NAME] ([AP_NAME_ID], [APARTMENT_NAME], [ADD_BY], [ADD_DATE]) VALUES (2, N'CURUNAGALA', 5, CAST(N'2023-01-13' AS Date))
INSERT [dbo].[APARTMENT_NAME] ([AP_NAME_ID], [APARTMENT_NAME], [ADD_BY], [ADD_DATE]) VALUES (3, N'WARIYAPOLA HOUSE', 5, CAST(N'2023-01-13' AS Date))
SET IDENTITY_INSERT [dbo].[APARTMENT_NAME] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_COMMENT] ON 

INSERT [dbo].[CUSTOMER_COMMENT] ([ID], [COMMENT], [DATETIME], [STATES]) VALUES (1, N'api ara wede karamuda', CAST(N'2023-01-13T07:02:42.740' AS DateTime), 1)
INSERT [dbo].[CUSTOMER_COMMENT] ([ID], [COMMENT], [DATETIME], [STATES]) VALUES (2, N'Comment Part is empty', CAST(N'2023-01-13T07:06:29.487' AS DateTime), 1)
INSERT [dbo].[CUSTOMER_COMMENT] ([ID], [COMMENT], [DATETIME], [STATES]) VALUES (3, N'test 3', CAST(N'2023-01-13T07:33:20.140' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CUSTOMER_COMMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_DETAIL] ON 

INSERT [dbo].[CUSTOMER_DETAIL] ([ID], [FULL_NAME], [SURNAME], [NIC], [PHONE_NO], [TELEPHONE_NO], [ADDRESS], [DOB], [E_NAME], [E_PHONE], [CREATE_BY], [CREATE_DATE_TIME]) VALUES (2, N'E D A ANANDA', N'ANANDA', N'2000000000', 785454322, 785454322, N'sirangoda', CAST(N'2023-01-07' AS Date), N'0785454322', 785454322, 1, CAST(N'2023-01-07T06:07:18.360' AS DateTime))
INSERT [dbo].[CUSTOMER_DETAIL] ([ID], [FULL_NAME], [SURNAME], [NIC], [PHONE_NO], [TELEPHONE_NO], [ADDRESS], [DOB], [E_NAME], [E_PHONE], [CREATE_BY], [CREATE_DATE_TIME]) VALUES (4, N'asdasd', N'sadsd', N'21312', 13213, 13213, N'asdasd', CAST(N'2023-01-19' AS Date), N'Suranga', 123213, 2, CAST(N'2023-01-07T06:16:41.623' AS DateTime))
SET IDENTITY_INSERT [dbo].[CUSTOMER_DETAIL] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_RELATION] ON 

INSERT [dbo].[CUSTOMER_RELATION] ([ID], [RID], [NAME], [DOB], [CUSTOMER_ID]) VALUES (11, 1, N'Miyuranga', CAST(N'2023-01-12' AS Date), 6)
INSERT [dbo].[CUSTOMER_RELATION] ([ID], [RID], [NAME], [DOB], [CUSTOMER_ID]) VALUES (12, 3, N'Miyuranga', CAST(N'2023-01-12' AS Date), 7)
SET IDENTITY_INSERT [dbo].[CUSTOMER_RELATION] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_WATING_LIST] ON 

INSERT [dbo].[CUSTOMER_WATING_LIST] ([ID], [CUSTOMER_NAME], [NIC], [PHONE_NUMBER], [DATE_TIME], [APARTMENT_ID], [ADD_BY]) VALUES (1, N'miyuranga', N'200026704268', 760743231, CAST(N'2023-01-13T02:35:28.280' AS DateTime), 16, 2)
INSERT [dbo].[CUSTOMER_WATING_LIST] ([ID], [CUSTOMER_NAME], [NIC], [PHONE_NUMBER], [DATE_TIME], [APARTMENT_ID], [ADD_BY]) VALUES (2, N'dananajya', N'2156214321', 88881821, CAST(N'2023-01-13T03:02:01.193' AS DateTime), 16, 2)
SET IDENTITY_INSERT [dbo].[CUSTOMER_WATING_LIST] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT_METHODS] ON 

INSERT [dbo].[PAYMENT_METHODS] ([ID], [PAYMENT_TYPE]) VALUES (1, N'Cash')
INSERT [dbo].[PAYMENT_METHODS] ([ID], [PAYMENT_TYPE]) VALUES (2, N'Checks')
INSERT [dbo].[PAYMENT_METHODS] ([ID], [PAYMENT_TYPE]) VALUES (3, N'Debit cards')
SET IDENTITY_INSERT [dbo].[PAYMENT_METHODS] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENTS] ON 

INSERT [dbo].[PAYMENTS] ([ID], [AMOUNT], [ARREARS_AMOUNT], [PAYMENT_TYPE], [DATE], [RECEIPT_BY], [LEASE_ID]) VALUES (1, CAST(12000.00 AS Decimal(18, 2)), CAST(-500.00 AS Decimal(18, 2)), 1, CAST(N'2023-01-14' AS Date), 2, 2)
INSERT [dbo].[PAYMENTS] ([ID], [AMOUNT], [ARREARS_AMOUNT], [PAYMENT_TYPE], [DATE], [RECEIPT_BY], [LEASE_ID]) VALUES (2, CAST(12000.00 AS Decimal(18, 2)), CAST(-500.00 AS Decimal(18, 2)), 1, CAST(N'2023-01-14' AS Date), 2, 2)
INSERT [dbo].[PAYMENTS] ([ID], [AMOUNT], [ARREARS_AMOUNT], [PAYMENT_TYPE], [DATE], [RECEIPT_BY], [LEASE_ID]) VALUES (3, CAST(12000.00 AS Decimal(18, 2)), CAST(-500.00 AS Decimal(18, 2)), 1, CAST(N'2023-01-14' AS Date), 2, 2)
SET IDENTITY_INSERT [dbo].[PAYMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[RELATIONSHIP] ON 

INSERT [dbo].[RELATIONSHIP] ([RID], [FamilyMember]) VALUES (1, N'Father')
INSERT [dbo].[RELATIONSHIP] ([RID], [FamilyMember]) VALUES (2, N'Son')
INSERT [dbo].[RELATIONSHIP] ([RID], [FamilyMember]) VALUES (3, N'Brother')
SET IDENTITY_INSERT [dbo].[RELATIONSHIP] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLL] ON 

INSERT [dbo].[ROLL] ([ID], [ROLL]) VALUES (1, N'ADMIN')
INSERT [dbo].[ROLL] ([ID], [ROLL]) VALUES (2, N'MANAGER')
INSERT [dbo].[ROLL] ([ID], [ROLL]) VALUES (3, N'SUPER')
SET IDENTITY_INSERT [dbo].[ROLL] OFF
GO
SET IDENTITY_INSERT [dbo].[SYSTEM_USERS_DETAIL] ON 

INSERT [dbo].[SYSTEM_USERS_DETAIL] ([ID], [FULL_NAME], [SURNAME], [NIC], [PHONENUMBER], [TELEPHONE], [ADDRESS], [DOB], [ENAME], [EPHONENUMBER], [SYSTEM_USER_NAME], [PASS], [ROLE_ID], [LOCK_1], [LAST_LOGIN_DTIME], [CREATE_EMP_ID], [CREATE_DTIME]) VALUES (2, N'Danajaya', N'Dananjaya', N'200026704268', 787878, 787878, N'ganewaththa', CAST(N'2023-01-18' AS Date), N'miyu', 7283, N'dananjaya', N'QL0AFWMIX8NRZTKeof9cXsvbvu8=', 3, NULL, NULL, 1, CAST(N'2023-01-09T23:55:00.917' AS DateTime))
INSERT [dbo].[SYSTEM_USERS_DETAIL] ([ID], [FULL_NAME], [SURNAME], [NIC], [PHONENUMBER], [TELEPHONE], [ADDRESS], [DOB], [ENAME], [EPHONENUMBER], [SYSTEM_USER_NAME], [PASS], [ROLE_ID], [LOCK_1], [LAST_LOGIN_DTIME], [CREATE_EMP_ID], [CREATE_DTIME]) VALUES (4, N'Madhawa', N'Madhawa', N'21312', 13213, 13213, N'asdasd', CAST(N'2023-01-19' AS Date), N'Suranga', 13213, N'test3', N'QL0AFWMIX8NRZTKeof9cXsvbvu8=', 1, NULL, NULL, 4, CAST(N'2023-01-12T03:27:44.417' AS DateTime))
INSERT [dbo].[SYSTEM_USERS_DETAIL] ([ID], [FULL_NAME], [SURNAME], [NIC], [PHONENUMBER], [TELEPHONE], [ADDRESS], [DOB], [ENAME], [EPHONENUMBER], [SYSTEM_USER_NAME], [PASS], [ROLE_ID], [LOCK_1], [LAST_LOGIN_DTIME], [CREATE_EMP_ID], [CREATE_DTIME]) VALUES (5, N'Miyuranga', N'Dananjaya', N'21312', 13213, 13213, N'asdasd', CAST(N'2023-01-19' AS Date), N'Suranga', 13213, N'admin', N'QL0AFWMIX8NRZTKeof9cXsvbvu8=', 1, NULL, NULL, 4, CAST(N'2023-01-12T03:41:23.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[SYSTEM_USERS_DETAIL] OFF
GO
USE [master]
GO
